{% extends 'common/base.html' %} {% block content %}

<br />
<!-- Listo de productos que se están agregando a la compra -->
<div class="card shadow mb-4">
  <div class="card-header py-3">
    <h6 class="m-0 font-weight-bold text-primary">Listado compras realizadas</h6>
  </div>
  <div class="card-body">
    <div class="table-responsive">
      <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
        <thead>
          <tr>
            <th>Ref.</th>
            <th>Descripción de la compra</th>
            <th>Total</th>
            <th>Proveedor</th>
            <th>Fecha</th>
            <th>Acciones</th>
          </tr>
        </thead>
        <tbody>
          {% for compra in compra_list %}
          <tr>
            <td>{{ compra.id}}</td>
            <td>Lorem ipsum dolor sit amet consectetur, adipisicing elit.</td>
            <td>{{ compra.proveedor}}</td>
            <td>{{ compra.supervisor}}</td>
            <td>{{ compra.fecha_de_compra}}</td>
            <td>Ver Detalles | Borrar</td>
          </tr>
        {% endfor %}
        </tbody>
      </table>
    </div>
  </div>
</div>
{% endblock %}
