{%load static%}

<!-- Sidebar -->
<ul class="navbar-nav bg-gradient-primary sidebar sidebar-dark accordion" id="accordionSidebar">
  <!-- Sidebar - Brand -->
  <a class="sidebar-brand d-flex align-items-center justify-content-center" href="{% url 'index' %}">
    <div class="sidebar-brand-icon rotate-n-15">
      <i class="fas fa-laugh-wink"></i>
    </div>
    <div class="sidebar-brand-text mx-3">Farmaciapp</div>
  </a>

  <!-- Divider -->
  <hr class="sidebar-divider my-0" />

  <!-- Nav Item - Dashboard -->
  <li class="nav-item active">
    <a class="nav-link" href="{% url 'index' %}">
      <i class="fas fa-fw fa-tachometer-alt"></i>
      <span>Dashboard</span></a
    >
  </li>

  <!-- Divider -->
  <hr class="sidebar-divider" />

  <!-- Heading -->
  <div class="sidebar-heading">Opciones</div>

  <!-- Nav Item - Comprar -->
  <li class="nav-item">
    <a class="nav-link" href="{% url 'compra' %}">
      <i class="fas fa-fw fa-table"></i>
      <span>Registrar compra</span></a
    >
  </li>

  <!-- Nav Item - Historial de compras -->
  <li class="nav-item">
    <a class="nav-link" href="{% url 'historial'%}">
      <i class="fas fa-fw fa-table"></i>
      <span>Historial de compras</span></a
    >
  </li>

  <!-- Nav Item - Proveedores -->
  <li class="nav-item">
    <a class="nav-link" href="{% url 'historial'%}">
      <i class="fas fa-fw fa-table"></i>
      <span>Proveedores</span></a
    >
  </li>

  <!-- Nav Item - Vender -->
  <li class="nav-item">
    <a class="nav-link" href="{% url 'venta' %}">
      <i class="fas fa-fw fa-table"></i>
      <span>Vender</span></a
    >
  </li>

  <!-- Nav Item - Inventario -->
  <li class="nav-item">
    <a class="nav-link" href="{% url 'inventario' %}">
      <i class="fas fa-fw fa-table"></i>
      <span>Inventario</span></a
    >
  </li>
  <!-- Nav Item - Categoria -->
  <li class="nav-item">
    <a class="nav-link" href="{% url 'categoria' %}">
      <i class="fas fa-fw fa-table"></i>
      <span>Categoria</span></a
    >
  </li>
  <!-- Divider -->
  <hr class="sidebar-divider d-none d-md-block" />

  <!-- Sidebar Toggler (Sidebar) -->
  <div class="text-center d-none d-md-inline">
    <button class="rounded-circle border-0" id="sidebarToggle"></button>
  </div>
</ul>
<!-- End of Sidebar -->
